/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font-ubuntu);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-overpass);
  overflow-wrap: break-word;
}

a,
input,
button,
textarea,
select {
  font-family: var(--font-ubuntu);
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --red: hsl(356, 100%, 66%);
  --light-red: hsl(355, 100%, 74%);
  --dark-blue: hsl(208, 49%, 24%);

  --white: hsl(0, 0%, 100%);
  --gray: hsl(240, 2%, 79%);
  --dark-gray: hsl(207, 13%, 34%);
  --dark: hsl(240, 10%, 16%);

  --header-gradient-light-red: hsl(13, 100%, 72%);
  --header-gradient-red: hsl(353, 100%, 62%);
}
