header {
  position: relative;
  border-bottom-left-radius: 6.5rem;

  background: var(--header-gradient);

  isolation: isolate;

  padding-top: 4rem;
  padding-bottom: 11rem;

  color: var(--white);
}

header::before {
  position: absolute;

  z-index: -1;
  inset: 0;

  background: url(/assets/images/bg-pattern-intro-desktop.svg);
  background-position: 25% 52%;
  background-repeat: no-repeat;
  content: '';
}

header nav {
  display: flex;

  margin-bottom: 6rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style: none;
}

header ul.page-links {
  flex: 1;
}

header ul.auth-links {
  gap: 2rem;

  padding-bottom: 1rem;
}

header a {
  color: var(--white);

  font-weight: 500;
  text-decoration: none;
}

header .logo {
  margin-right: 4rem;
}

.cta {
  text-align: center;
}

.cta h1 {
  font-size: 4rem;
  letter-spacing: -2px !important;
}

.cta p {
  margin-bottom: 3.5rem;
  font-size: 1.3rem;
}

.cta a {
  margin: 0 0.5rem;
}
