header {
  position: relative;

  margin-bottom: 20dvh;

  border-bottom-left-radius: 6.5rem;

  background: linear-gradient(
    to right,
    var(--gradient-light-red),
    var(--gradient-red)
  );

  isolation: isolate;

  padding-top: 4rem;
  padding-bottom: 11rem;
}

header::before {
  position: absolute;

  z-index: -1;
  inset: 0;

  border-bottom-left-radius: inherit;

  background: url(/assets/images/bg-pattern-intro-desktop.svg);
  background-position: 25% 52%;
  background-repeat: no-repeat;
  content: '';
}

header nav {
  display: flex;

  margin-bottom: 6rem;
}

header button {
  display: none;
  position: relative;
}

header .links {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style: none;
}

header ul.page-links {
  flex: 1;
}

header ul.auth-links {
  gap: 2rem;

  padding-bottom: 1rem;
}

header a {
  color: var(--white);

  font-weight: 500;
  text-decoration: none;
}

header .logo {
  margin-right: 4rem;
}

.cta {
  color: var(--white);
  text-align: center;
}

.cta h1 {
  font-size: 4rem;
  letter-spacing: -2px !important;
}

.cta p {
  margin-bottom: 3.5rem;
  font-size: 1.3rem;
}

.cta a {
  margin: 0 0.5rem;
}

@media screen and (max-width: 860px) {
  header {
    background: linear-gradient(
      to bottom,
      var(--gradient-light-red),
      var(--gradient-red)
    );

    padding-bottom: 9rem;
  }

  header::before {
    position: absolute;

    z-index: -1;
    inset: 0;

    background: url(/assets/images/bg-pattern-intro-mobile.svg);
    background-position: 35% 33%;
    background-repeat: no-repeat;
    content: '';
  }

  header a {
    font-size: 18px;
  }

  header nav {
    justify-content: space-between;
  }

  header ul {
    flex-direction: column;
  }

  header button {
    display: block;
    border: none;
    background: transparent;

    width: 30px;
  }

  header button img {
    object-fit: contain;
  }

  header .links {
    position: absolute;
    top: 8rem;
    left: 100dvw;
    flex-direction: column;

    transform: translateY(-1rem);
    opacity: 0;
    transition:
      opacity 150ms ease-in,
      transform 250ms ease-in;
    box-shadow: 0 1rem 5rem -1rem var(--dark);
    border-radius: 6px;

    background: var(--white);

    padding: 2rem 1rem;
    pointer-events: none;
  }

  header .links[aria-hidden='false'] {
    transform: translateY(0);
    opacity: 1;
    inset-inline: 2rem;
    pointer-events: all;
  }

  header ul.page-links {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1rem;
  }

  header ul.auth-links {
    padding-top: 2rem;
  }

  header ul.auth-links a {
    color: var(--dark);
  }

  header ul.auth-links .btn {
    background: linear-gradient(
      to right,
      var(--gradient-light-red),
      var(--gradient-red)
    );
    color: var(--white);
  }

  .cta h1 {
    font-size: 2.5rem;
    text-wrap: balance;
    margin-bottom: 1rem;
    line-height: 1.1;
  }
}
